<header class="w-100 mb3 pv3 bg-white tc bb bw1 b--light-gray">
  <div class="center">
    <h1 class="mt0 mb3 f2 ttu tracked washed-red">MediaLikey</h1>
    <nav class="flex items-center justify-center">
      {{link-to "Posts" "posts" class="ph3 f5 fw6 ttu tracked dim link black-70"}}
      {{link-to "Vote" "posts" class="ph3 f5 fw6 ttu tracked dim link black-70"}}
      {{link-to "About" "about" class="ph3 f5 fw6 ttu tracked dim link black-70"}}
    </nav>
  </div>
</header>
