<header class="w-100 pa3 ph5-ns bg-white tc">
  <div class="mw6 mw7-ns center">
    <nav class="flex items-center justify-center pb3 bb bw1 b--light-gray">
      {{link-to "Posts" "posts" class="f5 ttu tracked dim link black-70"}}
      {{link-to "Vote" "posts" class="ml3 ml4-ns f5 ttu tracked dim link black-70"}}
      {{link-to "About" "posts" class="ml3 ml4-ns f5 ttu tracked dim link black-70"}}
    </nav>
  </div>
</header>
