<header class="w-100 pv3 bg-white tc bb bw1 b--light-gray">
  <div class="center">
    <nav class="flex items-center justify-center">
      {{link-to "Posts" "posts" class="f5 fw6 ttu tracked dim link black-70"}}
      {{link-to "Vote" "posts" class="ml3 ml4-ns f5 fw6 ttu tracked dim link black-70"}}
      {{link-to "About" "posts" class="ml3 ml4-ns f5 fw6 ttu tracked dim link black-70"}}
    </nav>
  </div>
</header>
