/* Global and flex */
html {
  height: 100%;
}
body {
  height: 100%;
}

body > div{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Site-content {
  flex: 1 0 auto;
}

.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.cursor:hover {
  cursor: pointer;
}

/* Themeing */
.washed-red {
  color: #FC735D;
}
.hover-bg-washed-red:hover {
  background-color: #FC735D;
  transition: 0.3s;
}
.washed-green {
  color: #3cab68;
}
.hover-bg-washed-green:hover {
  background-color: #3cab68;
  transition: 0.3s;
}
