<div class="tc cf mw7-ns center mt2 pt1 ph0">
  <div class="fl w-50 pr1 pr2-ns">
    <button {{action "votedown"}} class="db w-100 hover-bg-washed-red hover-white input-reset black ba b--black-20 ph3 ph4-ns pv2 pv3-ns bg-white fw6 ttu f6 tracked mr3 cursor">
      No Likey
    </button>
  </div>
  <div class="fl w-50 pl1 pl2-ns">
    <button {{action "voteup"}} class="db w-100 hover-bg-washed-green hover-white input-reset black ba b--black-20 ph3 ph4-ns pv2 pv3-ns bg-white fw6 ttu f6 tracked mr3 cursor">
      Likey
    </button>
  </div>
</div>
