<section class="mw6 mw7-ns center">
  <div class="mb3 ph3 ph5-ns black-70">
    <h1 class="f3">The Pitch</h1>
    <p>Ever saw a cool media photo / video that you felt was on point? Feeling like you need some inspiration? MediaLikey attempts to give you a repository of media products to investigate, as well as a handy interface to filter them.</p>

    <h1 class="f3">How it Works</h1>
    <p>A list of media products is available in the {{link-to index "posts.index"}}, feel free to peruse them and see what strikes your fancy.</p>

    <p>Alternatively, you can visit VOTE and you'll be provided with a randomised tour through all of the featured content, with a simple up/down voting interface</p>

    <h1 class="f4">FAQ</h1>
    <h2 class="f4">My content is featured; I don't want that.</h2>
    <p>That's cool! Send us an email at ... and we'll handle it.</p>

    <h2 class="f4">Is this serious?</h2>
    <p>We do not intend to hurt anyone's feelings, and we are convinced that nobody who uses the site has malicious intent. We solely wish to provide a lighthearted platform for people to easily filter their tastes.</p>

    <h1 class="f3">Planned Features</h1>
    <p>The aim is to keep the interface simple, and not clutter the app too much. First on our schedule is augmenting the credits system by consolidating products from the same team onto a "team" page.</p>
    <p>Statistics / metrics for votes and trends, accounts and more sophisticated voting / weighting/ Better curation of content / approved user submissions. Currently it's only curated by two people. Fix animations left/right, duh.</p>
  </div>
</section>
