{{nav-bar}}

<main class="w-100 Site-content">
   {{outlet}}
</main>

<footer class="w-100 pv3 f6 tc bt bw1 b--light-gray bg-white">
  <p class="mt0 mb0 lh-copy black-70">Made with <i class="icon-heart washed-red"></i> by Fotis Papadogeorgopoulos</p>
</footer>
