<section class="center">
<div class="pv6 bg-orange white tc">
  <h1 class="f2 mt0 mb0">Minder</h1>
  <p class="mt2 mb4">"It's like Tinder, for Media Teams"</p>
  {{#link-to "posts.show" 4 class="f3 dim link white bb"}}Click for showdown!{{/link-to}}
</div>
</section>
