<section class="center">
<div class="pv6 bg-orange white tc">
  <img src="assets/images/tinder.png" class="mw4">
  <h1 class="mt0">Minder</h1>
  <p>It's like Tinder, for Media Teams!</p>
</div>
</section>
