<section class="center">
<div class="pt3 tc black-70">
  <div class="pa3 ph5-ns">
    <p class="f3 db">{{#link-to "posts.show" 4 class="f3 dim link black-70 bb bw1 b--washed-red"}}Sign Up{{/link-to}}, {{#link-to "posts.show" 4 class="f3 dim link black-70 bb bw1 b--washed-red"}}Log in{{/link-to}}</p>
    <p class="f4 db">Or</p>
    <p class="f3 db">{{#link-to "posts.show" 4 class="f3 dim link black-70 bb bw1 b--washed-red"}}Click for showdown!{{/link-to}}</p>
    <p class="mt4 f5 db">Note: Signing up allows you to download and persist your votes.</p>
  </div>
</div>
</section>
